<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815170067345-p03cdoe09s7b143hn5dejenamj4cgbo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815170067345-p03cdoe09s7b143hn5dejenamj4cgbo2</string>
	<key>API_KEY</key>
	<string>AIzaSyAzTRaq7SoJ8MTLa3Upxnu8f4Cn0CDAxcc</string>
	<key>GCM_SENDER_ID</key>
	<string>815170067345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topbusiness.newMazoon</string>
	<key>PROJECT_ID</key>
	<string>elmazon</string>
	<key>STORAGE_BUCKET</key>
	<string>elmazon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815170067345:ios:fe693df1405b826221d830</string>
</dict>
</plist>